
@media screen and (max-width:500px)  {
    body{
        overflow-x: hidden;
    }
    .navbar  {
    width: 100vw;
    /* border: 3px solid #d10909; */
    overflow: hidden;
}
 .image{
        width: 100%;  
 
      }
  .image .index-module_type__E-SaG{
        font-size: 1.5rem !important;
        color: rgb(244, 255, 83);
    }
}